{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}About - {{ block.super }}{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  	<h1>Why food planning?</h1>
	<p>Here are some useful info about Food Planning.</p>
</div>
<div class="container-fluid">
	<h4>Food planning makes your life easier!</h4>
	<p>Here we add some info about why we should plan our food.</p>
	<h4>Features</h4>
	<ul>
		<li>Planing weekly food schedule using Food Manager</li>
		<li>Automatic generation of shopping list</li>
		<li>Personalized recipe database</li>
	</ul>
</div>
{% endblock %}