{% extends 'layouts/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block title %}Confirm Password Reset - {{ block.super }}{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  	{% if validlink %}
		<h1>Confirm Password Reset</h1>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	{% else %}
		<h1>Password reset unseccessful!</h1>
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
</div>
{% if validlink %}
<div class="row content">
	<div class="container-fluid col-md-4 col-md-offset-4">
		<form class="form" role="form" action="" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button class="btn btn-outline-primary" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}