{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}Password Change Form - {{ block.super }}{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  	<h1>Password Change Form</h1>
</div>
<div class="row content">
	<div class="container-fluid col-md-4 col-md-offset-4">
		<form class="form" role="form" action="" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button class="btn btn-outline-primary" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}